interactions:
- request:
    body: '{"name": "TEST_CAMPAIGN_API_1759199325", "direction": "onclick", "rate_model":
      "cpm", "target_url": "https://propellerads.com/?test=1", "status": 1, "started_at":
      "29/09/2025", "expired_at": "29/10/2025", "targeting": {"country": {"list":
      ["us"], "is_excluded": false}, "connection": "all"}, "rates": [{"countries":
      ["us"], "amount": 0.01}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://ssp-api.propellerads.com/v5/adv/campaigns
  response:
    body:
      string: '{"targeting":{"traffic_categories":["The value you selected is not
        a valid choice."]}}'
    headers:
      Content-Type:
      - application/json
      X-User-Id:
      - '3781441'
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: '{"name": "TEST_CAMPAIGN_API_1759199325", "direction": "onclick", "rate_model":
      "cpm", "target_url": "https://propellerads.com/?test=1", "status": 1, "started_at":
      "29/09/2025", "expired_at": "29/10/2025", "targeting": {"country": {"list":
      ["us"], "is_excluded": false}, "connection": "all"}, "rates": [{"countries":
      ["us"], "amount": 0.01}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://ssp-api.propellerads.com/v5/adv/campaigns
  response:
    body:
      string: '{"targeting":{"traffic_categories":["The value you selected is not
        a valid choice."]}}'
    headers:
      Content-Type:
      - application/json
      X-User-Id:
      - '3781441'
    status:
      code: 400
      message: Bad Request
version: 1
