interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://ssp-api.propellerads.com/v5/adv/campaigns?page_size=1
  response:
    body:
      string: '{"result":[{"name":"[OnClick (Popunder)] [CPAG] 9446595","target_url":"https:\/\/healthnman.com\/topausaesandr.php?zoneid={zone_id}&campaignid={campaign_id}&language={language}&country={country}&browser={browser}&subzone={subzone_id}&osys={os}&conect={connection_type}&banid={banner_id}&medium={var10}_{zone_id}&cost={cost}&clickid=${SUBID}","started_at":"2025-05-18","direction_id":1,"rate_model":"scpa","limit_total_amount":null,"limit_daily_amount":150.0,"id":9446595,"status":8,"is_archived":1}],"meta":{"total_items":802,"total_pages":802,"page_size":1,"page":1}}'
    headers:
      Content-Type:
      - application/json
      X-User-Id:
      - '3781441'
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "[OnClick (Popunder)] [CPAG] 9446595_UPDATED_TEST", "limit_daily_amount":
      1}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://ssp-api.propellerads.com/v5/adv/campaigns/9446595
  response:
    body:
      string: '{"errors":["Access denied."]}'
    headers:
      Content-Type:
      - application/json
      X-User-Id:
      - '3781441'
    status:
      code: 403
      message: Forbidden
[...]
- request:
    body: '{"name": "[OnClick (Popunder)] [CPAG] 9446595_UPDATED_TEST", "limit_daily_amount":
      1}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://ssp-api.propellerads.com/v5/adv/campaigns/9446595
  response:
    body:
      string: '{"errors":["Access denied."]}'
    headers:
      Content-Type:
      - application/json
      X-User-Id:
      - '3781441'
    status:
      code: 403
      message: Forbidden
version: 1
