interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://ssp-api.propellerads.com/v5/adv/campaigns?limit=1&offset=0
  response:
    body:
      string: '{"result":[{"name":"[OnClick (Popunder)] [CPAG] 9446595","target_url":"https:\/\/healthnman.com\/topausaesandr.php?zoneid={zone_id}&campaignid={campaign_id}&language={language}&country={country}&browser={browser}&subzone={subzone_id}&osys={os}&conect={connection_type}&banid={banner_id}&medium={var10}_{zone_id}&cost={cost}&clickid=${SUBID}","started_at":"2025-05-18","direction_id":1,"rate_model":"scpa","limit_total_amount":null,"limit_daily_amount":150.0,"id":9446595,"status":8,"is_archived":1},{"name":"[Classic
        Push] [CPAG] 9446596","target_url":"https:\/\/healthnman.com\/topausaesandr.php?zoneid={zone_id}&campaignid={campaign_id}&language={language}&country={country}&browser={browser}&subzone={subzone_id}&osys={os}&conect={connection_type}&banid={banner_id}&medium={var10}_{zone_id}&cost={cost}&clickid=${SUBID}","started_at":"2025-05-18","direction_id":61,"rate_model":"cpag","limit_total_amount":null,"limit_daily_amount":150.0,"id":9446596,"status":8,"is_archived":1},{"name[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://ssp-api.propellerads.com/v5/adv/campaigns/9446595
  response:
    body:
      string: '{"name":"[OnClick (Popunder)] [CPAG] 9446595","target_url":"https:\/\/healthnman.com\/topausaesandr.php?zoneid={zone_id}&campaignid={campaign_id}&language={language}&country={country}&browser={browser}&subzone={subzone_id}&osys={os}&conect={connection_type}&banid={banner_id}&medium={var10}_{zone_id}&cost={cost}&clickid=${SUBID}","started_at":"2025-05-18","direction_id":1,"rate_model":"scpa","capping":1,"limit_total_amount":null,"limit_daily_amount":150.0,"id":9446595,"frequency":1,"status":8,"is_archived":1}'
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Limit:
      - '150'
      X-RateLimit-Remaining:
      - '149'
      X-RateLimit-Reset:
      - '1759199358'
      X-User-Id:
      - '3781441'
    status:
      code: 200
      message: OK
version: 1
