interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://ssp-api.propellerads.com/v5/adv/statistics?day_from=2025-09-22&day_to=2025-09-29&tz=%2B0000&group_by%5B%5D=campaign_id
  response:
    body:
      string: '{"items":[{"campaign_id":9760576,"money":97.137,"campaign_name":"JOJ5
        \/ PROPSSP \/ PT - WEB \/ BR \/ Safari \/ 3G","win_rate":"0.0650","daily_amount":2000,"total_amount":0,"impressions":188809,"clicks":0,"conversions":23,"conversions2":96,"conversions3":4,"payout":0.0,"viewability_real_impressions":0,"spent":97.137,"cpm":0.514,"cpc":0.0,"survey_cpc":0.001,"cpa":4.223,"profit":-97.137,"roi":-100.0,"ctr":0.0,"cr":0.01,"rvr":0.0,"is_premium_supply":false},{"campaign_id":9789233,"money":0.0,"campaign_name":"JOJ77
        \/ PROPSSP \/ ENG - Safari - Interstitial \/ 3G \/ US","win_rate":"-","daily_amount":2000,"total_amount":0,"impressions":1,"clicks":0,"conversions":0,"conversions2":0,"conversions3":0,"payout":0.0,"viewability_real_impressions":0,"spent":0.0,"cpm":0.0,"cpc":0.0,"survey_cpc":0.0,"cpa":0.0,"profit":0.0,"roi":0.0,"ctr":0.0,"cr":0.0,"rvr":0.0,"is_premium_supply":false},{"campaign_id":9790471,"money":1.374,"campaign_name":"JOJ77[...]
